Repository jonathanavis96/ranksentinel: changes, and which pre-commit hooks are due for each by the changed paths.
All: bats-tests, validate-links, validate-code-examples, validate-doc-sync

Path conditions:
  bats-tests: any of: \.(sh|bash|bats)$
  validate-links: any of: \.md$, but not: (?x)^(
  .*THUNK\.md$|
  .*IMPLEMENTATION_PLAN\.md$|
  .*/PLAYBOOK_TEMPLATE\.md$|
  skills/playbooks/README\.md$|
  skills/conventions\.md$|
  workers/ralph/README\.md$|
  app/brain-map/frontend/node_modules/.*
)$

  validate-code-examples: any of: \.md$, but not: (?x)^(
  .*THUNK\.md$|
  .*IMPLEMENTATION_PLAN\.md$|
  .*/PLAYBOOK_TEMPLATE\.md$|
  templates/.*|
  README\.md$|
  .*/anti-patterns/.*\.md$|
  CONTRIBUTING\.md$
)$

  validate-doc-sync: any of: \.(md|yaml|sh)$

feat(website): add lint/format/typecheck tooling (task 2.2)
  website/.prettierignore
  website/.prettierrc.json
  website/app/layout.tsx
  website/eslint.config.mjs
  website/next.config.ts
  website/package-lock.json
  website/package.json
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(website): implement Palette A design tokens as CSS variables
  website/app/globals.css
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(website): implement layout primitives (container + spacing scale)
  website/app/components/Container.tsx
  website/app/components/README.md
  website/app/globals.css
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-links, validate-code-examples, validate-doc-sync

feat(website): implement core UI components (task 3.3)
  website/app/components/Badge.tsx
  website/app/components/Button.tsx
  website/app/components/Card.tsx
  website/app/components/Footer.tsx
  website/app/components/Header.tsx
  website/app/components/index.ts
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

build: accumulated changes from BUILD iterations
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: none

fix(ralph): resolve markdown lint errors (MD032) in docs and website README
  .markdownlintignore
  cortex/IMPLEMENTATION_PLAN.md
  docs/websites/NAV_CTA_SPEC.md
  website/app/components/README.md
  workers/IMPLEMENTATION_PLAN.md
Due: validate-links, validate-code-examples, validate-doc-sync

docs(ralph): mark Phase 0-Warn tasks complete and update THUNK.md
  workers/IMPLEMENTATION_PLAN.md
Due: validate-doc-sync

feat(website): implement EmailReportPreview component (task 3.4)
  website/app/components/EmailReportPreview.tsx
  website/app/components/index.ts
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(website): verify homepage sections complete per blueprint (task 4.1)
  website/app/page.tsx
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(website): implement Feature Tabs component with accessibility
  website/app/components/FeatureTabs.tsx
  website/app/components/index.ts
  website/app/page.tsx
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: validate-doc-sync

feat(website): implement FAQ accordion with accessibility support
  website/app/components/FAQAccordion.tsx
  website/app/components/index.ts
  website/app/page.tsx
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(website): implement /pricing page with tier cards and anchor navigation
  website/app/pricing/page.tsx
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(website): implement /sample-report page
  website/app/sample-report/page.tsx
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(website): add privacy and terms pages
  website/app/privacy/page.tsx
  website/app/terms/page.tsx
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(website): implement 404 page with navigation to homepage and pricing
  cortex/IMPLEMENTATION_PLAN.md
  website/app/not-found.tsx
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-doc-sync

docs: create API contract document for website/backend integration
  docs/API_CONTRACT.md
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-links, validate-code-examples, validate-doc-sync

feat(website): implement frictionless lead capture form (task 6.2)
  website/app/components/LeadCaptureForm.tsx
  website/app/components/index.ts
  website/app/page.tsx
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: validate-doc-sync

feat(website): wire lead capture form to public API endpoints
  docs/API_CONTRACT.md
  src/ranksentinel.egg-info/SOURCES.txt
  src/ranksentinel/api.py
  src/ranksentinel/models.py
  tests/test_public_endpoints.py
  website/app/components/LeadCaptureForm.tsx
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-links, validate-code-examples, validate-doc-sync

feat(email): implement email canonicalization and dedupe for Gmail dot/plus tricks
  ranksentinel.sqlite3
  src/ranksentinel/api.py
  src/ranksentinel/email_utils.py
  tests/test_email_canonicalization.py
  website/package.json
  website/scripts/dev.mjs
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: none

docs(ralph): mark task 7.1 complete in plan and thunk
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(website): implement schedule settings page with timezone detection
  website/app/schedule/page.tsx
  website/scripts/dev.mjs
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(schedule): implement schedule token system with 30-day expiry and rotation
  src/ranksentinel/__pycache__/db.cpython-312.pyc
  src/ranksentinel/db.py
  src/ranksentinel/reporting/email_templates.py
  tests/test_schedule_tokens.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(api): implement POST /public/schedule endpoint with DST-aware timezone handling
  src/ranksentinel/api.py
  src/ranksentinel/models.py
  tests/test_schedule_endpoint.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(api): implement POST /public/leads with sample report email
  src/ranksentinel/api.py
  src/ranksentinel/reporting/email_templates.py
  tests/test_public_endpoints.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(api): implement trial provisioning with POST /public/start-monitoring
  ranksentinel.sqlite3
  src/ranksentinel/__pycache__/db.cpython-312.pyc
  src/ranksentinel/api.py
  src/ranksentinel/db.py
  src/ranksentinel/reporting/email_templates.py
  tests/test_public_endpoints.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

fix(tests): update email canonicalization tests to use /public/start-monitoring endpoint
  tests/test_email_canonicalization.py
Due: none

feat(trial): implement trial expiry with 7-day OR 1-digest rule
  cortex/IMPLEMENTATION_PLAN.md
  src/ranksentinel/__pycache__/db.cpython-312.pyc
  src/ranksentinel/api.py
  src/ranksentinel/db.py
  src/ranksentinel/trial_expiry.py
  tests/test_trial_expiry.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-doc-sync

fix(ralph): resolve table reference bug in paywall cadence (task 10.2)
  src/ranksentinel/paywall_cadence.py
  src/ranksentinel/runner/weekly_digest.py
  tests/test_paywall_cadence.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(paywall): implement unlocked vs paywalled digest templates
  src/ranksentinel/reporting/report_composer.py
  src/ranksentinel/runner/weekly_digest.py
  tests/test_paywalled_digest_templates.py
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: none

chore(ralph): mark task 10.3 complete and update THUNK.md
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(paywall): add Paystack checkout links to emails
  .env.example
  src/ranksentinel/reporting/email_templates.py
  src/ranksentinel/reporting/report_composer.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(website): add GTM/GA4 integration (task 11.1)
  .env.example
  website/app/components/GoogleTagManager.tsx
  website/app/layout.tsx
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(website): implement analytics events for conversion tracking (task 11.2)
  website/app/components/AnalyticsLink.tsx
  website/app/components/LeadCaptureForm.tsx
  website/app/lib/analytics.ts
  website/app/schedule/page.tsx
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(analytics): implement weekly GA4 analytics digest email (task 11.3)
  .env.example
  docs/SKILL_REQUEST_ga4_data_api_reporting.md
  pyproject.toml
  scripts/run_weekly.sh
  scripts/weekly_analytics_digest.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: bats-tests, validate-links, validate-code-examples, validate-doc-sync

feat(website): implement SEO metadata defaults and per-page metadata
  cortex/IMPLEMENTATION_PLAN.md
  website/app/layout.tsx
  website/app/lib/metadata.ts
  website/app/pricing/page.tsx
  website/app/privacy/page.tsx
  website/app/sample-report/page.tsx
  website/app/terms/page.tsx
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(website): add robots.txt and sitemap.xml for SEO
  website/public/robots.txt
  website/public/sitemap.xml
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(website): accessibility pass - skip link targets, semantic structure
  tmp_rovodev_accessibility_summary.md
  website/app/layout.tsx
  website/app/page.tsx
  website/app/pricing/page.tsx
  website/app/privacy/page.tsx
  website/app/sample-report/page.tsx
  website/app/schedule/page.tsx
  website/app/terms/page.tsx
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: validate-links, validate-code-examples, validate-doc-sync
