Repository jonathanavis96/ranksentinel: changes, and which pre-commit hooks are due for each by the changed paths.
All: bats-tests, validate-links, validate-code-examples, validate-doc-sync

bats-tests:
  name: bats-tests
  description: Run bats unit tests for shell scripts
  entry: 'bash -c "if command -v bats >/dev/null 2>&1; then bats tests/unit/*.bats; else echo ''WARN bats not installed, skipping unit tests'' >&2; exit 0; fi"
  
    '
  language: system
  pass_filenames: false

validate-links:
  name: validate-links
  description: Validate internal markdown links resolve to existing files
  entry: bash tools/validate_links.sh
  language: system

validate-code-examples:
  name: validate-code-examples
  description: Validate code examples in markdown documentation
  entry: python3 tools/validate_examples.py
  language: system

validate-doc-sync:
  name: validate-doc-sync
  description: Validate documentation matches actual config files
  entry: bash tools/validate_doc_sync.sh
  language: system
  pass_filenames: false

feat(runner): implement exit-code and silent-on-success contract for cron
  ranksentinel.sqlite3
  src/ranksentinel/runner/__main__daily.py
  src/ranksentinel/runner/__main__weekly.py
  src/ranksentinel/runner/__pycache__/daily_checks.cpython-312.pyc
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

build: flush uncommitted changes (end_of_run)
  docs/RUNBOOK_VPS.md
  logs/daily_20260129.log
  ranksentinel.sqlite3
  scripts/run_daily.sh
  scripts/run_weekly.sh
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: bats-tests, validate-links, validate-code-examples, validate-doc-sync

feat(ops): implement operator failure alerting
  cortex/IMPLEMENTATION_PLAN.md
  src/ranksentinel/operator_alert.py
  src/ranksentinel/runner/__main__daily.py
  src/ranksentinel/runner/__main__weekly.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

build: accumulated changes from BUILD iterations
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: none

chore(ralph): validate task 5.4 operator failure alerting - already implemented
  cortex/IMPLEMENTATION_PLAN.md
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-doc-sync

build: accumulated changes from BUILD iterations
  ranksentinel.sqlite3
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: validate-doc-sync

feat(sitemap): make parser namespace-agnostic for Google 0.84 support
  cortex/IMPLEMENTATION_PLAN.md
  src/ranksentinel/runner/sitemap_parser.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-doc-sync

test: add Google 0.84 namespace test for sitemap URL extraction
  src/ranksentinel.egg-info/SOURCES.txt
  tests/test_list_sitemap_urls.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

test(sitemap): add Google 0.84 namespace test for extract_url_count() [0-S.3]
  ranksentinel.sqlite3
  tests/test_sitemap_url_count.py
  tmp_rovodev_weekly_django.log
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

chore(ralph): mark 0-S.3 complete - Google 0.84 namespace already supported
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

chore(ralph): validate 0-S.3 already complete (Google 0.84 namespace support in extract_url_count)
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

chore(ralph): mark 0-S.3 complete - Google 0.84 namespace support validated
  ranksentinel.sqlite3
  ranksentinel.sqlite3-shm
  ranksentinel.sqlite3-wal
  tmp_rovodev_weekly_sitemaps.log
  weekly.lock
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

build: flush uncommitted changes (end_of_run)
  ranksentinel.sqlite3
  ranksentinel.sqlite3-shm
  ranksentinel.sqlite3-wal
  tmp_rovodev_weekly_sitemaps.log
  weekly.lock
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: none

fix(ralph): add markdown lint tasks and fix MD032/MD034 errors
  cortex/IMPLEMENTATION_PLAN.md
  ranksentinel.sqlite3
  tmp_rovodev_weekly_rerun.log
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-doc-sync

chore(ralph): verify markdown lint fixes for 0-W.6 and 0-W.7
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat: exclude bootstrap findings from weekly emails
  src/ranksentinel/runner/weekly_digest.py
  tests/test_report_composer.py
  tests/test_weekly_fetcher_integration.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: validate-doc-sync

chore: mark task 0-E.1 complete in plan and thunk
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(report): add 'All clear' header for healthy weeks (0-E.2)
  ranksentinel.sqlite3
  ranksentinel.sqlite3-shm
  ranksentinel.sqlite3-wal
  src/ranksentinel/reporting/report_composer.py
  tests/test_report_composer.py
  tmp_rovodev_weekly_ethica.log
  tmp_rovodev_weekly_now.log
  weekly.lock
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

chore: clean up temporary test files
  ranksentinel.sqlite3-shm
  ranksentinel.sqlite3-wal
  tmp_rovodev_weekly_ethica.log
  tmp_rovodev_weekly_now.log
  weekly.lock
Due: none

feat(weekly): persist per-run coverage stats (0-E.3)
  ranksentinel.sqlite3
  src/ranksentinel/__pycache__/db.cpython-312.pyc
  src/ranksentinel/db.py
  src/ranksentinel/models.py
  src/ranksentinel/runner/weekly_digest.py
  tests/test_run_coverage_persistence.py
  tmp_rovodev_weekly_latest.log
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

build: accumulated changes from BUILD iterations
  src/ranksentinel/reporting/report_composer.py
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: none

build: flush uncommitted changes (end_of_run)
  cortex/IMPLEMENTATION_PLAN.md
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: validate-doc-sync

feat(reporting): add coverage stats to weekly email
  src/ranksentinel/reporting/report_composer.py
  src/ranksentinel/runner/weekly_digest.py
  tests/test_report_composer.py
Due: none

chore(ralph): mark task 0-E.4 complete and log to THUNK
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(weekly): scope email to current run via run_id (task 0-E.5)
  src/ranksentinel/__pycache__/db.cpython-312.pyc
  src/ranksentinel/db.py
  src/ranksentinel/runner/__pycache__/daily_checks.cpython-312.pyc
  src/ranksentinel/runner/daily_checks.py
  src/ranksentinel/runner/finding_utils.py
  src/ranksentinel/runner/weekly_digest.py
  tests/test_broken_links_integration.py
  tests/test_customer_status_gating.py
  tests/test_finding_dedupe.py
  tests/test_weekly_run_scoping.py
  workers/IMPLEMENTATION_PLAN.md
  workers/IMPLEMENTATION_PLAN.md.bak
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: validate-doc-sync

chore: mark task 0-E.5 complete and log to THUNK.md
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(weekly): add Shopify sitemap index expansion
  src/ranksentinel/runner/weekly_digest.py
  tests/test_sitemap_index_expansion.py
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: none

chore(ralph): mark task 0-S.5 complete
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(db): add run_id and error fields to snapshots table
  BOOTSTRAP.md
  src/ranksentinel/__pycache__/db.cpython-312.pyc
  src/ranksentinel/db.py
  tests/test_broken_links_integration.py
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: validate-links, validate-code-examples, validate-doc-sync

chore(ralph): mark task 0-R.2a complete
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(db): implement migration-on-startup for snapshots and findings tables
  src/ranksentinel/__pycache__/db.cpython-312.pyc
  src/ranksentinel/db.py
  tests/test_db_migrations.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(ralph): implement 0-R.2c - persist weekly page fetch results into snapshots
  src/ranksentinel/runner/page_fetcher.py
  src/ranksentinel/runner/weekly_digest.py
  tests/test_weekly_fetcher_integration.py
  workers/IMPLEMENTATION_PLAN.md
  workers/IMPLEMENTATION_PLAN.md.bak
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

chore: exclude brain_upstream from git tracking
  .gitignore
Due: none

feat(ralph): add Brain skills integration requirements to PROMPT.md
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/prompt.sha256
  workers/ralph/.verify/run_id.txt
  workers/ralph/PROMPT.md
  workers/ralph/THUNK.md
Due: validate-links, validate-code-examples, validate-doc-sync

docs(ralph): add blocked task convention requirement
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(ralph): add verifier enforcement for blocked tasks without SKILL_REQUEST artifacts
  .ralph_brain_skills_synced
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/ac.sha256
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/loop.sha256
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
  workers/ralph/loop.sh
  workers/ralph/rules/AC.rules
Due: bats-tests, validate-doc-sync

build: accumulated changes from BUILD iterations
  .ralph_brain_skills_synced
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/loop.sha256
  workers/ralph/.verify/run_id.txt
  workers/ralph/loop.sh
Due: bats-tests, validate-doc-sync

build: flush uncommitted changes (end_of_run)
  cortex/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/PROMPT.md
Due: validate-links, validate-code-examples, validate-doc-sync

build: accumulated changes from BUILD iterations
  .gitignore
  workers/ralph/.verify/agents.sha256
  workers/ralph/.verify/prompt.sha256
Due: none

Path conditions:
  bats-tests: any of: \.(sh|bash|bats)$
  validate-links: any of: \.md$, but not: (?x)^(
  .*THUNK\.md$|
  .*IMPLEMENTATION_PLAN\.md$|
  .*/PLAYBOOK_TEMPLATE\.md$|
  skills/playbooks/README\.md$|
  skills/conventions\.md$|
  workers/ralph/README\.md$|
  app/brain-map/frontend/node_modules/.*
)$

  validate-code-examples: any of: \.md$, but not: (?x)^(
  .*THUNK\.md$|
  .*IMPLEMENTATION_PLAN\.md$|
  .*/PLAYBOOK_TEMPLATE\.md$|
  templates/.*|
  README\.md$|
  .*/anti-patterns/.*\.md$|
  CONTRIBUTING\.md$
)$

  validate-doc-sync: any of: \.(md|yaml|sh)$
