Repository jonathanavis96/ranksentinel: changes, and which pre-commit hooks are due for each by the changed paths.
All: bats-tests, validate-links, validate-code-examples, validate-doc-sync

Path conditions:
  bats-tests: any of: \.(sh|bash|bats)$
  validate-links: any of: \.md$, but not: (?x)^(
  .*THUNK\.md$|
  .*IMPLEMENTATION_PLAN\.md$|
  .*/PLAYBOOK_TEMPLATE\.md$|
  skills/playbooks/README\.md$|
  skills/conventions\.md$|
  workers/ralph/README\.md$|
  app/brain-map/frontend/node_modules/.*
)$

  validate-code-examples: any of: \.md$, but not: (?x)^(
  .*THUNK\.md$|
  .*IMPLEMENTATION_PLAN\.md$|
  .*/PLAYBOOK_TEMPLATE\.md$|
  templates/.*|
  README\.md$|
  .*/anti-patterns/.*\.md$|
  CONTRIBUTING\.md$
)$

  validate-doc-sync: any of: \.(md|yaml|sh)$

chore(ralph): mark task 12.3 complete in plan and THUNK
  tmp_rovodev_accessibility_summary.md
  workers/IMPLEMENTATION_PLAN.md
Due: validate-links, validate-code-examples, validate-doc-sync

feat(website): performance pass - verified minimal JS and optimized assets
  docs/SKILL_REQUEST_ga4_data_api_reporting.md
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-links, validate-code-examples, validate-doc-sync

feat(website): add GitHub Pages deployment workflow
  website/.github/workflows/deploy.yml
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(website): add custom domain CNAME and launch docs
  docs/websites/12_launch.md
  website/public/CNAME
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-links, validate-code-examples, validate-doc-sync

feat(website): complete environment configuration strategy (task 13.3)
  website/README.md
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: validate-links, validate-code-examples, validate-doc-sync

feat(website): complete QA checklist for task 14.1
  docs/websites/12_launch.md
  tmp_rovodev_qa_checklist.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-links, validate-code-examples, validate-doc-sync

chore: remove temporary QA checklist file
  tmp_rovodev_qa_checklist.md
  workers/IMPLEMENTATION_PLAN.md
Due: validate-links, validate-code-examples, validate-doc-sync

chore(ralph): mark task 14.1 complete in plan and log to THUNK
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(website): verify e2e flow for trial provisioning and first insight
  ranksentinel.sqlite3
  website/app/schedule/page.tsx
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(website): final content consistency sweep - replace generic CTAs
  website/app/page.tsx
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

build: flush uncommitted changes (end_of_run)
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: none

chore(website): make github pages basePath conditional; remove CNAME
  .github/workflows/deploy.yml
  website/next.config.ts
  website/public/CNAME
Due: none

fix(website): basePath-safe public assets; convert marketing images to webp
  website/app/components/Header.tsx
  website/app/lib/asset.ts
  website/app/page.tsx
  website/public/critical-alerts-only.webp
  website/public/prioritized-action-list.webp
  website/public/ranksentinel-logo-icon.webp
  website/public/ranksentinel-logo.webp
  website/public/seo-specific-checks.webp
Due: none

chore(website): remove png assets; use webp favicon
  website/app/layout.tsx
  website/public/critical-alerts-only.png
  website/public/favicon.webp
  website/public/prioritized-action-list.png
  website/public/ranksentinel-logo-icon.png
  website/public/ranksentinel-logo.png
  website/public/seo-specific-checks.png
Due: none

chore(website): use multi-size favicon.ico (basePath-safe)
  website/app/layout.tsx
  website/public/favicon.ico
  website/public/favicon.webp
Due: none

chore(website): add apple-touch-icon (basePath-safe)
  website/app/layout.tsx
  website/public/apple-touch-icon.png
Due: none

build: flush uncommitted changes (end_of_run)
  cortex/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: validate-doc-sync

chore(website): update OG image and convert logo assets to webp
  website/app/components/Header.tsx
  website/app/lib/metadata.ts
  website/app/page.tsx
  website/public/og-image.webp
  website/public/ranksentinel-logo-icon.webp
  website/public/ranksentinel-logo.webp
Due: none

chore(website): remove legacy png logo assets
  website/public/ranksentinel-logo-icon.png
  website/public/ranksentinel-logo.png
Due: none

fix(website): basePath-safe OG URLs and 1200x630 og-image
  website/app/lib/metadata.ts
  website/public/og-image.webp
Due: none

chore(cortex): add webp versions of example images; remove Zone.Identifier
  cortex/examples/critical-alerts-only.png:Zone.Identifier
  cortex/examples/critical-alerts-only.webp
  cortex/examples/critical-alerts-only2.png:Zone.Identifier
  cortex/examples/critical-alerts-only2.webp
  cortex/examples/prioritized-action-list.png:Zone.Identifier
  cortex/examples/prioritized-action-list.webp
  cortex/examples/prioritized-action-list2.png:Zone.Identifier
  cortex/examples/prioritized-action-list2.webp
  cortex/examples/ranksentinel_logo.png:Zone.Identifier
  cortex/examples/ranksentinel_logo.webp
  cortex/examples/ranksentinel_logo_icon.webp
  cortex/examples/seo-specific-checks.png:Zone.Identifier
  cortex/examples/seo-specific-checks.webp
  cortex/examples/seo-specific-checks2.png:Zone.Identifier
  cortex/examples/seo-specific-checks2.webp
Due: none

feat: add validation tools and shell documentation
  skills/domains/languages/shell/README.md
  tools/validate_doc_sync.sh
  tools/validate_examples.py
  tools/validate_examples_README.md
  tools/validate_protected_hashes.sh
Due: bats-tests, validate-links, validate-code-examples, validate-doc-sync

Revert "chore(cortex): add webp versions of example images; remove Zone.Identifier"
  cortex/examples/critical-alerts-only.png:Zone.Identifier
  cortex/examples/critical-alerts-only.webp
  cortex/examples/critical-alerts-only2.png:Zone.Identifier
  cortex/examples/critical-alerts-only2.webp
  cortex/examples/prioritized-action-list.png:Zone.Identifier
  cortex/examples/prioritized-action-list.webp
  cortex/examples/prioritized-action-list2.png:Zone.Identifier
  cortex/examples/prioritized-action-list2.webp
  cortex/examples/ranksentinel_logo.png:Zone.Identifier
  cortex/examples/ranksentinel_logo.webp
  cortex/examples/ranksentinel_logo_icon.webp
  cortex/examples/seo-specific-checks.png:Zone.Identifier
  cortex/examples/seo-specific-checks.webp
  cortex/examples/seo-specific-checks2.png:Zone.Identifier
  cortex/examples/seo-specific-checks2.webp
Due: none

chore(cortex): ignore local examples folder
  .gitignore
  cortex/examples/20260129_174705.jpg
  cortex/examples/20260129_174707.jpg
  cortex/examples/20260129_174710.jpg
  cortex/examples/20260129_174712.jpg
  cortex/examples/critical-alerts-only.png
  cortex/examples/critical-alerts-only.png:Zone.Identifier
  cortex/examples/critical-alerts-only2.png
  cortex/examples/critical-alerts-only2.png:Zone.Identifier
  cortex/examples/prioritized-action-list.png
  cortex/examples/prioritized-action-list.png:Zone.Identifier
  cortex/examples/prioritized-action-list2.png
  cortex/examples/prioritized-action-list2.png:Zone.Identifier
  cortex/examples/ranksentinel_logo.png
  cortex/examples/ranksentinel_logo.png:Zone.Identifier
  cortex/examples/ranksentinel_logo_icon.png
  cortex/examples/seo-specific-checks.png
  cortex/examples/seo-specific-checks.png:Zone.Identifier
  cortex/examples/seo-specific-checks2.png
  cortex/examples/seo-specific-checks2.png:Zone.Identifier
Due: none

fix(website): basePath-safe Image src for GitHub Pages
  website/app/components/Header.tsx
  website/app/page.tsx
Due: none

docs(website): add skill references for OG/meta copy and structure
  website/app/lib/metadata.ts
Due: none

fix(website): add cache-busting param to OG image for social platform refresh
  website/app/lib/metadata.ts
Due: none

fix(ci): set NEXT_PUBLIC_SITE_URL for correct OG image URLs on GitHub Pages
  .github/workflows/deploy.yml
Due: none
