Repository jonathanavis96/ranksentinel: changes, and which pre-commit hooks are due for each by the changed paths.
All: bats-tests, validate-links, validate-code-examples, validate-doc-sync

bats-tests:
  name: bats-tests
  description: Run bats unit tests for shell scripts
  entry: 'bash -c "if command -v bats >/dev/null 2>&1; then bats tests/unit/*.bats; else echo ''WARN bats not installed, skipping unit tests'' >&2; exit 0; fi"
  
    '
  language: system
  pass_filenames: false

validate-links:
  name: validate-links
  description: Validate internal markdown links resolve to existing files
  entry: bash tools/validate_links.sh
  language: system

validate-code-examples:
  name: validate-code-examples
  description: Validate code examples in markdown documentation
  entry: python3 tools/validate_examples.py
  language: system

validate-doc-sync:
  name: validate-doc-sync
  description: Validate documentation matches actual config files
  entry: bash tools/validate_doc_sync.sh
  language: system
  pass_filenames: false

build: accumulated changes from BUILD iterations
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: validate-doc-sync

feat(diff): implement diff summary engine with normalization
  src/ranksentinel/runner/__pycache__/daily_checks.cpython-312.pyc
  src/ranksentinel/runner/__pycache__/normalization.cpython-312.pyc
  src/ranksentinel/runner/daily_checks.py
  src/ranksentinel/runner/normalization.py
  tests/test_normalization.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: validate-doc-sync

feat(daily): implement title extraction and change detection
  cortex/IMPLEMENTATION_PLAN.md
  src/ranksentinel.egg-info/SOURCES.txt
  src/ranksentinel.egg-info/dependency_links.txt
  src/ranksentinel/runner/__pycache__/daily_checks.cpython-312.pyc
  src/ranksentinel/runner/daily_checks.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: validate-doc-sync

chore: mark task 1.9 as complete in implementation plan
  workers/IMPLEMENTATION_PLAN.md
Due: validate-doc-sync

feat(weekly): implement broken internal link detection
  cortex/IMPLEMENTATION_PLAN.md
  src/ranksentinel.egg-info/SOURCES.txt
  src/ranksentinel/__pycache__/db.cpython-312.pyc
  src/ranksentinel/db.py
  src/ranksentinel/runner/link_checker.py
  src/ranksentinel/runner/weekly_digest.py
  tests/test_broken_links_integration.py
  tests/test_link_checker.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/PROMPT.md
Due: validate-links, validate-code-examples, validate-doc-sync

feat(runner): implement concurrency guard with file-based locking
  scripts/run_daily.sh
  scripts/run_weekly.sh
  src/ranksentinel/lock.py
  src/ranksentinel/runner/__main__daily.py
  src/ranksentinel/runner/__main__weekly.py
  workers/IMPLEMENTATION_PLAN.md
Due: bats-tests, validate-doc-sync

build: accumulated changes from BUILD iterations
  cortex/AGENTS.md
  cortex/CORTEX_SYSTEM_PROMPT.md
  ranksentinel.sqlite3
  src/ranksentinel.egg-info/SOURCES.txt
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/protected_changes.log
  workers/ralph/.verify/run_id.txt
  workers/ralph/PROMPT.md
Due: validate-links, validate-code-examples, validate-doc-sync

fix(markdown): resolve MD013 in cortex/GAP_CAPTURE.md
  cortex/GAP_CAPTURE.md
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: validate-links, validate-code-examples, validate-doc-sync

fix(docs): resolve MD013 line length violations in cortex/IMPLEMENTATION_PLAN.md
  cortex/IMPLEMENTATION_PLAN.md
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: validate-doc-sync

build: accumulated changes from BUILD iterations
  .markdownlint.yaml
  .markdownlint.yaml:Zone.Identifier
  cortex/AGENTS.md
  cortex/AGENTS.md:Zone.Identifier
  cortex/CORTEX_SYSTEM_PROMPT.md
  cortex/CORTEX_SYSTEM_PROMPT.md:Zone.Identifier
  workers/ralph/.maintenance/MAINTENANCE.md
  workers/ralph/.maintenance/MAINTENANCE_LOG.md
  workers/ralph/.maintenance/REORGANIZATION_PROPOSAL.md
  workers/ralph/.maintenance/verify-brain.sh
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/AGENTS.md
  workers/ralph/HUMAN_REQUIRED.md
  workers/ralph/PROMPT.md
  workers/ralph/config/non_cacheable_tools.txt
  workers/ralph/config/non_cacheable_tools.txt:Zone.Identifier
  workers/ralph/docs/WAIVER_PROTOCOL.md
  workers/ralph/docs/WAIVER_PROTOCOL.md:Zone.Identifier
  workers/ralph/fix-markdown.sh
  workers/ralph/rules/AC.rules
  workers/ralph/sync_workers_plan_to_cortex.sh
  workers/ralph/update_thunk_from_plan.sh
Due: bats-tests, validate-links, validate-code-examples, validate-doc-sync

build: accumulated changes from BUILD iterations
  cortex/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/PROMPT.md
Due: validate-links, validate-code-examples, validate-doc-sync

docs: mark MD034 fixes as complete in implementation plan
  docs/SAMPLE_REPORT.md
  workers/IMPLEMENTATION_PLAN.md
Due: validate-links, validate-code-examples, validate-doc-sync

chore(ralph): log MD034 verification to THUNK
  workers/ralph/THUNK.md
Due: validate-doc-sync

fix(ralph): resolve AC failure HashGuard - update ac.sha256 baseline
  workers/ralph/.verify/ac.sha256
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: none

chore(ralph): complete task 0.1 - verify bootstrap documentation
  workers/IMPLEMENTATION_PLAN.md.bak
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

chore(ralph): complete task 0.2 - Python env validation
  tools/validate_protected_hashes.sh
  tools/validate_protected_hashes.sh:Zone.Identifier
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: bats-tests, validate-doc-sync

feat(ralph): verify task 0.3 - local API healthcheck working
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(task-0.4): verify admin onboarding persists to SQLite
  ranksentinel.sqlite3
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(ralph): complete task 0.5 - daily runner entrypoint executes successfully
  ranksentinel.sqlite3
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(runner): implement URL normalization utilities
  ranksentinel.sqlite3
  src/ranksentinel/runner/__pycache__/daily_checks.cpython-312.pyc
  src/ranksentinel/runner/__pycache__/normalization.cpython-312.pyc
  src/ranksentinel/runner/daily_checks.py
  src/ranksentinel/runner/link_checker.py
  src/ranksentinel/runner/normalization.py
  src/ranksentinel/runner/weekly_digest.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

chore(ralph): mark task 0.6 complete - weekly runner validated
  ranksentinel.sqlite3
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(runner): add per-customer isolation to prevent job abortion
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: none

feat(runner): add per-customer isolation test scaffold and validation docs
  docs/MANUAL_VALIDATION_0.10.md
  src/ranksentinel/runner/__pycache__/daily_checks.cpython-312.pyc
  src/ranksentinel/runner/daily_checks.py
  src/ranksentinel/runner/weekly_digest.py
  tests/test_customer_isolation.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/THUNK.md
Due: validate-links, validate-code-examples, validate-doc-sync

build: accumulated changes from BUILD iterations
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: none

fix(docs): resolve MD022/MD032/MD031 markdown lint errors in MANUAL_VALIDATION_0.10.md files
  cortex/IMPLEMENTATION_PLAN.md
  docs/MANUAL_VALIDATION_0.10.md
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-links, validate-code-examples, validate-doc-sync

feat(logging): implement structured logging with run_id (task 0.11)
  src/ranksentinel/runner/daily_checks.py
  src/ranksentinel/runner/logging_utils.py
  src/ranksentinel/runner/weekly_digest.py
  tests/test_logging.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(0.12): add customer status gating validation tests
  src/ranksentinel/runner/__pycache__/daily_checks.cpython-312.pyc
  tests/test_customer_status_gating.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(baseline): implement artifact baseline model (task 1.0)
  src/ranksentinel/__pycache__/db.cpython-312.pyc
  src/ranksentinel/db.py
  tests/test_artifacts_baseline.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: validate-doc-sync

docs(thunk): record completion of task 1.0
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(ralph): implement idempotent only-on-change rule for daily checks
  ranksentinel.sqlite3
  src/ranksentinel/runner/__pycache__/daily_checks.cpython-312.pyc
  src/ranksentinel/runner/daily_checks.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat: implement finding deduplication with deterministic keys
  ranksentinel.sqlite3
  src/ranksentinel/__pycache__/db.cpython-312.pyc
  src/ranksentinel/db.py
  src/ranksentinel/runner/__pycache__/daily_checks.cpython-312.pyc
  src/ranksentinel/runner/daily_checks.py
  src/ranksentinel/runner/weekly_digest.py
  tests/test_finding_dedupe.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(daily): implement robots.txt fetch and artifact storage (task 1.4)
  ranksentinel.sqlite3
  src/ranksentinel/runner/__pycache__/daily_checks.cpython-312.pyc
  src/ranksentinel/runner/daily_checks.py
  tests/test_robots_fetch.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: validate-doc-sync

chore: remove test database and update THUNK.md
  ranksentinel.sqlite3
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat: implement robots.txt diff detection with severity assessment
  src/ranksentinel/runner/daily_checks.py
  tests/test_robots_diff.py
  tests/test_robots_fetch.py
Due: none

docs: mark task 1.5 complete in implementation plan
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(daily): implement sitemap fetch and artifact storage
  src/ranksentinel/runner/__pycache__/daily_checks.cpython-312.pyc
  src/ranksentinel/runner/daily_checks.py
  tests/test_sitemap_fetch.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat: implement sitemap URL count delta detection with severity thresholds
  ranksentinel.sqlite3
  src/ranksentinel/runner/__pycache__/daily_checks.cpython-312.pyc
  src/ranksentinel/runner/daily_checks.py
  src/ranksentinel/runner/sitemap_parser.py
  tests/test_sitemap_delta_integration.py
  tests/test_sitemap_url_count.py
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: none

chore: remove test database artifact
  ranksentinel.sqlite3
Due: none

chore: mark task 1.7 complete in plan and update THUNK
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-doc-sync

build: accumulated changes from BUILD iterations
  ranksentinel.sqlite3
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: none

Path conditions:
  bats-tests: any of: \.(sh|bash|bats)$
  validate-links: any of: \.md$, but not: (?x)^(
  .*THUNK\.md$|
  .*IMPLEMENTATION_PLAN\.md$|
  .*/PLAYBOOK_TEMPLATE\.md$|
  skills/playbooks/README\.md$|
  skills/conventions\.md$|
  workers/ralph/README\.md$|
  app/brain-map/frontend/node_modules/.*
)$

  validate-code-examples: any of: \.md$, but not: (?x)^(
  .*THUNK\.md$|
  .*IMPLEMENTATION_PLAN\.md$|
  .*/PLAYBOOK_TEMPLATE\.md$|
  templates/.*|
  README\.md$|
  .*/anti-patterns/.*\.md$|
  CONTRIBUTING\.md$
)$

  validate-doc-sync: any of: \.(md|yaml|sh)$
