Repository jonathanavis96/ranksentinel: changes, and which pre-commit hooks are due for each by the changed paths.
All: bats-tests, validate-links, validate-code-examples, validate-doc-sync

Path conditions:
  bats-tests: any of: \.(sh|bash|bats)$
  validate-links: any of: \.md$, but not: (?x)^(
  .*THUNK\.md$|
  .*IMPLEMENTATION_PLAN\.md$|
  .*/PLAYBOOK_TEMPLATE\.md$|
  skills/playbooks/README\.md$|
  skills/conventions\.md$|
  workers/ralph/README\.md$|
  app/brain-map/frontend/node_modules/.*
)$

  validate-code-examples: any of: \.md$, but not: (?x)^(
  .*THUNK\.md$|
  .*IMPLEMENTATION_PLAN\.md$|
  .*/PLAYBOOK_TEMPLATE\.md$|
  templates/.*|
  README\.md$|
  .*/anti-patterns/.*\.md$|
  CONTRIBUTING\.md$
)$

  validate-doc-sync: any of: \.(md|yaml|sh)$

fix(ralph): generate minimal rovodev run config
  workers/ralph/.verify/loop.sha256
  workers/ralph/loop.sh
Due: bats-tests, validate-doc-sync

chore(ralph): complete task 0-R.4 - verify weekly tables in live DB
  logs/weekly_20260129.log
  ranksentinel.sqlite3
  weekly.lock
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-doc-sync

docs: add sqlite schema/test alignment skill and link plan tasks
  brain/skills/SUMMARY.md
  brain/skills/domains/backend/sqlite-schema-test-alignment.md
  cortex/.gap_pending
  cortex/GAP_CAPTURE.md
  docs/SKILL_REQUEST_sqlite_schema_test_alignment.md
  workers/IMPLEMENTATION_PLAN.md
Due: validate-links, validate-code-examples, validate-doc-sync

chore: drop gap marker/capture entry (skill already synced)
  cortex/.gap_pending
Due: none

chore: revert GAP_CAPTURE entry (skill already synced)
  cortex/GAP_CAPTURE.md
Due: validate-links, validate-code-examples, validate-doc-sync

docs: website pricing copy + competitor snapshot; plan: split first-insight tasks
  docs/COMPETITOR_PRICING_SNAPSHOT.md
  docs/WEBSITE_REQUIREMENTS.md
  docs/websites/01_goals_non_goals.md
  docs/websites/02_audience_positioning.md
  docs/websites/03_ia_sitemap.md
  docs/websites/04_page_requirements.md
  docs/websites/05_copy_system.md
  docs/websites/06_pricing_packaging.md
  docs/websites/07_cro.md
  docs/websites/08_seo.md
  docs/websites/09_analytics.md
  docs/websites/10_design_ux.md
  docs/websites/11_qa_acceptance.md
  docs/websites/12_launch.md
  docs/websites/SUMMARY.md
  workers/IMPLEMENTATION_PLAN.md
Due: validate-links, validate-code-examples, validate-doc-sync

docs: fix SAMPLE_REPORT markdown layout
  docs/SAMPLE_REPORT.md
Due: validate-links, validate-code-examples, validate-doc-sync

fix(tests): add required timestamp columns to test_sitemap_fetch.py
  cortex/IMPLEMENTATION_PLAN.md
  tests/test_sitemap_fetch.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-doc-sync

fix(ralph): resolve AC failure Structure.Dirs.3 - create config/ directory
  config/tool-registry.yaml
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: validate-doc-sync

chore: add config/ directory required by verifier
  config/.gitkeep
Due: none

chore: add workers/config directory required by verifier
  workers/config/.gitkeep
Due: none

build: accumulated changes from BUILD iterations
  workers/ralph/.verify/latest.txt
Due: none

fix(tests): initialize schema in test_persist_fetch_results_placeholder
  cortex/IMPLEMENTATION_PLAN.md
  tests/test_page_fetcher.py
Due: validate-doc-sync

fix(tests): align robots fetch tests with sitemap fetch order
  docs/COMPETITOR_PRICING_SNAPSHOT.md
  tests/test_robots_fetch.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-links, validate-code-examples, validate-doc-sync

chore(plan): mark task 0-R.7 complete and update THUNK.md
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-doc-sync

fix(tests): ensure customer status gating tests pass
  src/ranksentinel/runner/__pycache__/daily_checks.cpython-312.pyc
  src/ranksentinel/runner/daily_checks.py
  tests/test_customer_status_gating.py
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: none

chore(ralph): mark task 0-R.8 complete in plan and thunk
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-doc-sync

chore(ralph): mark 0-R.8 complete - test_customer_status_gating.py already passing
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: none

feat(weekly): implement round-robin fetch scheduler with per-domain 429 handling
  src/ranksentinel/runner/fetch_scheduler.py
  src/ranksentinel/runner/page_fetcher.py
  src/ranksentinel/runner/page_fetcher_scheduled.py
  src/ranksentinel/runner/weekly_digest.py
  tests/test_fetch_scheduler.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

fix(tests): update weekly integration tests to use page_fetcher_scheduled
  src/ranksentinel/runner/weekly_digest.py
  tests/test_customer_status_gating.py
  tests/test_sitemap_index_expansion.py
  tests/test_weekly_fetcher_integration.py
Due: none

fix(weekly): persist 429 responses to run_coverage stats
  src/ranksentinel/runner/page_fetcher_scheduled.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

chore(ralph): mark 0-R.10 complete - test suite green (230 passed)
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(first-insight): add admin trigger endpoint (task 4.6a)
  src/ranksentinel/api.py
  src/ranksentinel/runner/first_insight.py
  tests/test_first_insight_endpoint.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

build: flush uncommitted changes (end_of_run)
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: none

feat(first-insight): implement runner/service to generate report input data (task 4.6b)
  cortex/IMPLEMENTATION_PLAN.md
  src/ranksentinel/__pycache__/db.cpython-312.pyc
  src/ranksentinel/db.py
  src/ranksentinel/runner/first_insight.py
  tests/test_first_insight_runner.py
Due: validate-doc-sync

docs: mark task 4.6b as completed
  workers/IMPLEMENTATION_PLAN.md
Due: validate-doc-sync

chore: update THUNK.md with task 4.6b completion
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(first-insight): implement email delivery with Mailgun integration
  src/ranksentinel/api.py
  src/ranksentinel/mailgun.py
  src/ranksentinel/reporting/email_templates.py
  src/ranksentinel/runner/first_insight.py
  tests/test_first_insight_email.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: validate-doc-sync

feat(first-insight): add payment integration hook for webhook handlers
  src/ranksentinel/api.py
  tests/test_payment_integration_hook.py
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

build: flush uncommitted changes (end_of_run)
  tmp_rovodev_weekly_django.log
  tmp_rovodev_weekly_latest.log
  tmp_rovodev_weekly_rerun.log
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: none

plan(ralph): add Phase 0-Lint tasks for markdown lint errors
  workers/IMPLEMENTATION_PLAN.md
Due: validate-doc-sync

chore(ralph): log Phase 0-Lint planning in THUNK
  workers/ralph/THUNK.md
Due: validate-doc-sync

fix(lint): resolve MD024 duplicate heading in brain_upstream/cortex/PLAN_DONE.md
  cortex/IMPLEMENTATION_PLAN.md
  pyproject.toml
  src/ranksentinel.egg-info/SOURCES.txt
  src/ranksentinel.egg-info/dependency_links.txt
  src/ranksentinel/__pycache__/db.cpython-312.pyc
  src/ranksentinel/runner/__pycache__/daily_checks.cpython-312.pyc
  src/ranksentinel/runner/__pycache__/normalization.cpython-312.pyc
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

build: accumulated changes from BUILD iterations
  src/ranksentinel/api.py
  workers/ralph/.verify/ac.sha256
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
Due: none

fix(lint): resolve MD056 and MD040 errors in TEMPLATE_DRIFT_REPORT.md
  README.md
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/THUNK.md
Due: validate-links, validate-doc-sync

fix(markdown): resolve MD056 table column count errors in brain_upstream THUNK.md
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-doc-sync

feat(website): define MVP IA and navigation structure (task 1.1)
  docs/websites/03_ia_sitemap.md
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-links, validate-code-examples, validate-doc-sync

feat(website): lock nav labels and CTA placement rules (task 1.2)
  docs/websites/NAV_CTA_SPEC.md
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-links, validate-code-examples, validate-doc-sync

feat(website): create Next.js App Router site with static export
  website/.gitignore
  website/README.md
  website/app/favicon.ico
  website/app/globals.css
  website/app/layout.tsx
  website/app/page.tsx
  website/eslint.config.mjs
  website/next.config.ts
  website/package-lock.json
  website/package.json
  website/postcss.config.mjs
  website/public/file.svg
  website/public/globe.svg
  website/public/next.svg
  website/public/vercel.svg
  website/public/window.svg
  website/tsconfig.json
  workers/IMPLEMENTATION_PLAN.md
  workers/ralph/.verify/latest.txt
  workers/ralph/.verify/run_id.txt
  workers/ralph/THUNK.md
Due: validate-links, validate-code-examples, validate-doc-sync
